/* _____________
Reset
________________ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* _____________
Common
________________ */



/* _____________
header
________________ */



/* _____________
main
________________ */




/* _____________
footer
________________ */